@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --body: hsl(257, 40%, 49%);
    --fonts: #fff;
    --hover-color: hsl(300, 69%, 71%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-image: url(images/bg-mobile.svg);
    background-color: var(--body);
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--fonts);
/*     overflow:auto;
 */}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "content1"
        "content2"
        "footer"
        ;
    max-width: 100%;
    height: 100vh;
}

header {
    grid-area: header;
    margin-top: 1rem;
    padding: 2.5rem 3.5rem 0 3.5rem;
}
header img {
    width: 125px;
}
.principal-img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: content1;
    margin:  5rem 3.5rem 5.5rem 3.5rem;;
}
.principal-img img {
    max-width: 100%;
}

.content {
    grid-area: content2;
    padding: 0 3.5rem;
    text-align: center;
}
.content h1 {
    margin-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}
.content p {
    margin-bottom: 2.5rem;
    line-height: 1.8;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    flex: 1;
    width: 220px;
    max-width: 400px;
    height: 45px;
    margin: 0 auto 7rem auto;
    background-color: var(--fonts);
    border-radius: 2.5rem;
    border: none;
    box-shadow: 0px 0px 7px 2px rgba(61, 60, 60, 0.29);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--body);
}

.btn button:hover {
    background-color: var(--hover-color);
    color: var(--fonts);
    cursor: pointer;
}
.content .fondo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    background-color: hsl(257, 40%, 49%);
}

footer {
    grid-area: footer;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: .1rem;
}
.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: .5rem;
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid white;
    border-radius: 50%;
  }
.fab:hover {
    border-color: var(--hover-color);
    color: var(--hover-color);
    cursor: pointer;
} 


.attribution { 
    font-size: 11px; 
    text-align: center;
}
    
.attribution a { 
    color: var(--fonts); 
}

@media (min-width: 400px) {
    .content .fondo {
        width: 100%;
        height: fit-content;
        background: none;    
    }
}
@media screen and (min-width: 800px) {
    body {
        background-size: cover;
    }
}
@media screen and (min-width: 1100px) {
    body {
        background-image: url(images/bg-desktop.svg);
        background-size: contain;
    }
    .grid-container {
/*         flex: 1; 
 */        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "header header"
            "content1 content2"
            "footer footer";
    }
    header img{
        width: 225px;
        padding-left: 5rem;
        padding-right: 0;
    }
    .principal-img img {
        margin: 0;
        padding: 0rem 0 0 5rem;
        margin-bottom: 0;
    }
    .content {
        margin: 0;
        padding: 8rem 15rem 0 1.5rem;
        text-align: initial;
    }
    .content h1 {
        font-size: 4rem;
    }
    .btn {
        justify-content: flex-start;
    }
    .btn button {
        max-width: 180px;
        margin: 0;
    }
    .icons {
        justify-content: flex-end;
        padding-right: 16rem;
    }
    
}